@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
    
    a {
        text-decoration: none; 
    }
    
    p, input[type=text] {
        
        font-family: 'Alata', sans-serif;
        margin: 0px;
        
    }
    
    html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #505166;
    }

    form {
        width: 50%;   
    }
    
    .input-container {
        display: flex;
        background-color: #FFF;
    }
    
    input[type=text], .button {
        padding: 1.5rem 2rem;
    }
    
    input[type=text] {
        
        flex-grow: 2;
        outline: none;
        border: none;
        font-size: 1rem;
    }
    
    .button {
        background-color: #F3A39C;
        cursor: pointer;
        -webkit-transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -o-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out;
    }

    .button:hover {
        background: #F6C7C7;
    }

    .button p {
        color: #FFF;  
    }
    
    input[type=text]::placeholder {
        font-size: 1rem;
    }


.box {
    background: #eee;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
}

.box-read {
    height: 50px;
    max-height: 45px;
    overflow: hidden;
    color: #999;
    line-height: 25px;
}