<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Button inside input</title>
</head>
<body>
    <form>
        <div class="input-container">
          <input type="text" name="name" placeholder="Name" />
          <a href="#">
            <div class="button"><p>Search</p></div>
          </a>
        </div>
      </form>

      <center><h2>Compare</h2></center>

      <form>
        <div class="input-container">
          <input type="text" name="name" placeholder="Name" />
          <a href="#">
            <div class="button"><p>Search</p></div>
          </a>
        </div>
      </form>



      <div class="container">
        <div class="row">

          <div class="col-sm-4 p2p">
            <div class="box">
              <p class="box-read">TOTAL P2P RAISED</p>
              <h2><strong>$ 0</strong></h2>
            </div>
          </div>

          <div class="col-sm-4 p2p">
            <div class="box">
              <p class="box-read">TOTAL P2P RAISED</p>
              <h2><strong>$ 0</strong></h2>
            </div>
          </div>

          <div class="col-sm-4 p2p">
            <div class="box">
              <p class="box-read">TOTAL P2P RAISED TOTAL P2P RAISED AVERAGE P2P RAISED</p>
              <h2><strong>$ 0</strong></h2>
            </div>
          </div>


          <div class="col-sm-4 p2p">
            <div class="box">
              <p class="box-read">TOTAL P2P RAISED</p>
              <h2><strong>$ 0</strong></h2>
            </div>
          </div>


          <div class="col-sm-4 p2p">
            <div class="box">
              <p class="box-read">TOTAL P2P RAISED</p>
              <h2><strong>$ 0</strong></h2>
            </div>
          </div>

        </div>
      </div>


</body>
</html>